<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instagram Images</title>

    <link rel="stylesheet" href="templates/normalize.css" />
    <link rel="stylesheet" href="templates/luminous-basic.min.css" />

    <link rel="stylesheet" href="templates/main.css" />

    <script type="text/javascript" src="templates/main.js"></script>
</head>
<body onload="swap(window.location.hash)">
    <div id="all-imgs">
    {% set items = 16 %}
    {% for n in range(0, all_data | length, items) %}
        <div id="section-{{ (n // items) + 1 }}" class="section" style="display: none;">
        {% for data in all_data[n: n + items] %}
            <div id="img-{{ loop.index + n }}" class="img">
                <a class="zimg" href="{{ data.big_url }}">
                    <img src="{{ data.small_url }}" />
                    <div class="txt hidden">{{ data.caption }}</div>
                </a>
                <span class="likes">{{ "{:,}".format(data.likes) }}</span>
                <div class="datedown hidden">
                    <span class="dates">{{ data.date }}</span>
                    <a target="_blank" href="{{ data.big_url }}">
                        <span data-icon="&#127758;" class="ico external" />
                    </a>
                    <span data-icon="&#128190;" class="ico download" onclick="downloadResource('{{ data.save_url }}')"/>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endfor %}
    </div>

    <div id="pagination" class="clearfix">
        <div id="pagination-compact">
            <ul>
                <li id="goto-prev">
                    <a onclick="swap('prev')">&lt;</a>
                </li>

                {% for n in range(((all_data | length) // items) + 1) %}
                {% set idx = n + 1 %}
                <li id="goto-section-{{ idx }}">
                    <a href="#section-{{ idx }}" onclick="swap({{ idx }})">{{ idx }}</a>
                </li>
                {% endfor %}

                <li id="goto-next">
                    <a onclick="swap('next')">&gt;</a>
                </li>
            </ul>
        </div>
    </div>

    <script type="text/javascript" src="templates/Luminous.min.js"></script>
    <script>
        var cap_fn = function(trigger) { return trigger.querySelector('div.txt').innerText; };
        var opt = { caption: cap_fn };
        for (var a of document.querySelectorAll('a.zimg')) {
            new Luminous(a, opt);
        }
    </script>
</body>
</html>
