<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instagram Images</title>

    <link rel="stylesheet" href="templates/normalize.css" />
    <link rel="stylesheet" href="templates/luminous-basic.min.css" />

    <link rel="stylesheet" href="templates/main.css" />

    <script type="text/javascript" src="templates/main.js"></script>
</head>
<body>
    <div id="all-imgs">
    {% for data in all_data %}
        <div class="img">
            <a class="zimg" href="{{ data.big_url }}">
                <img src="{{ data.small_url }}" />
                <div class="txt hidden">{{ data.caption }}</div>
            </a>
            <span class="likes">{{ "{:,}".format(data.likes) }}</span>
            <div class="datedown hidden">
                <span class="dates">{{ data.date }}</span>
                <a target="_blank" href="{{ data.big_url }}">
                    <span data-icon="&#127758;" class="ico external" />
                </a>
                <span data-icon="&#128190;" class="ico download" onclick="downloadResource('{{ data.save_url }}')"/>
            </div>
        </div>
    {% endfor %}
    </div>

    <script type="text/javascript" src="templates/Luminous.min.js"></script>
    <script>
        var cap_fn = function(trigger) { return trigger.querySelector('div.txt').innerText; };
        var opt = { caption: cap_fn };
        for (var a of document.querySelectorAll('a.zimg')) {
            new Luminous(a, opt);
        }
    </script>
</body>
</html>
