<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ user }}</title>

    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/luminous-basic.min.css" />
    <link rel="stylesheet" href="css/main.css" />

    <script type="text/javascript" defer src="js/Luminous.min.js"></script>
    <script type="text/javascript" defer src="js/main.js"></script>
</head>
<body>
    <div id="all-imgs" data-gridtype="{{ grid_type }}">
    {% set data_len = all_data | length %}
    {% for n in range(0, data_len, max_items) %}
        <div id="section-{{ (n // max_items) + 1 }}" class="section" style="display: none;">
        {% for data in all_data[n: n + max_items] %}
            <div id="img-{{ loop.index + n }}" class="img lum-loading">
                <a class="zimg" href="{{ data.big_url }}" data-isvid="{{ data.is_video }}">
                    <div class="lum-lightbox-loader"></div>
                    <img data-src="{{ data.small_url }}" src="" class="hidden" />
                    <div class="txt hidden">{{ data.caption }}{% if data.location %} &nbsp;&#8226;&nbsp; Location: {{ data.location }}{% endif %}</div>
                </a>
                <div class="left">
                    <span class="likes">{{ "{:,}".format(data.likes) }}</span>
                    {% if data.is_video %}
                    <span data-icon="&#128253;" class="ico"></span>
                    <span class="small hidden">{{ "{:,}".format(data.video_views) }}</span>
                    {% endif %}
                </div>
                <div class="datedown hidden">
                    <span class="dates">{{ data.date }}</span>
                    <a target="_blank" href="{{ data.big_url }}">
                        <span data-icon="&#127758;" class="ico external"></span>
                    </a>
                    <span data-icon="&#128190;" class="ico download" data-dlurl="{{ data.save_url }}"></span>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endfor %}
    </div>

    <div id="pagination" class="clearfix">
        <div id="pagination-compact">
            <ul>
                <li id="goto-prev">
                    <a data-sectionid="prev">&lt;</a>
                </li>

                {% for n in range((data_len / max_items) | round(0, 'ceil') | int) %}
                {% set idx = n + 1 %}
                <li id="goto-{{ idx }}">
                    <a data-sectionid={{ idx }}>{{ idx }}</a>
                </li>
                {% endfor %}

                <li id="goto-next">
                    <a data-sectionid="next">&gt;</a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
